.layout {
  min-height: 100vh; /* Ensure the layout takes the full viewport height */
}

.layout-content {
  flex: 1; /* Make the content area take up all remaining space */ /* Optional: Add some padding */
  /* Optional: Add a background color */
}

.breadcrumb {
  position: fixed;
  top: 64px; /* Assuming the header height is 64px */
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 16px;
  padding: 8px;
}