.user-profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.user-profile-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}